.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.212),
            rgba(255, 255, 255, 0.06));
    backdrop-filter: blur(30px);
    z-index: 10;
}

.nav {
    display: flex;
    gap: 50px;
}

.nav a {
    display: block;
    font-size: 20px;
}