.about {
    background-color: #f3f6fb;
    min-height: calc(100vh - 80px);
}

.wrap {

    padding: 50px 100px;
}

.title {
    border-bottom: 3px solid #AEB6C1;
    font-size: 40px;
    padding-bottom: 5px;
}

.title.on::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: conic-gradient(from 0deg,
            #7dd3fc,
            #38bdf8,
            #bae6fd,
            #7dd3fc);
    margin-right: 5px;
    animation: title 3s linear infinite;
}

.main {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatarBox {
    position: relative;
    width: 100%;
    height: 350px;
}

.avatar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.avatar img {
    width: 300px;
    height: 350px;
    object-fit: cover;
}

.link {
    position: absolute;
    padding: 8px 15px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    animation: link 3s linear infinite;
}

.phone {
    padding: 10px 20px;
    font-size: 22px;
    top: 30%;
    left: 26%;
    background: linear-gradient(135deg,
            rgb(250, 241, 241) 0%,
            rgb(247, 199, 199) 40%,
            rgb(248, 188, 188) 55%,
            rgb(241, 167, 167) 100%);
}

.github {
    top: 16%;
    right: 30%;
    background: linear-gradient(135deg,
            rgb(185, 245, 208) 0%,
            rgb(176, 255, 206) 40%,
            rgb(109, 243, 160) 55%,
            rgb(100, 216, 145) 100%);
}

.email {
    top: 55%;
    right: 30%;
    background: linear-gradient(135deg,
            #fffef5 0%,
            #eedd90fa 40%,
            #ffce65 55%,
            #FFB300 100%);
}

.slideBox {
    margin-top: 50px;
}

.slideUl {
    height: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.li {
    list-style: none;
    font-size: 19px;
    height: 40px;
    transition: all 0.6s ease;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.active {
    font-size: 20px;
    font-weight: 550;
}

.blur {
    opacity: 0.8;
    filter: blur(1.5px);
    transform: scale(0.9);
}

@keyframes link {
    0% {
        filter: brightness(1);
    }

    50% {
        filter: brightness(1.3);
    }

    100% {
        filter: brightness(1);
    }
}

@keyframes title {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}